<header>
  <div class="navbar-div">
    <ul class="navbar">
      <a href="/" class="logo"
        ><img class="margologo" src="/images/Mar.png" alt=""
      /></a>
      <li><a href="/">Home</a></li>
      <li><a href="/aboutus">Market</a></li>
      <li><a href="/listings">Brands</a></li>

      <li><a href="/listings/new">Add Brand</a></li>
    </ul>

    <div class="main">
      <a href="/login" class="user"><i class="ri-user-fill"></i>LogIn</a>
      <a href="/signup">SignUp</a>
      <div class="bx bx-menu" id="menu-icon"></div>
    </div>
  </div>
</header>
