<% layout("/layouts/boilerplate.ejs") %>
<body>
  <div class="newbg">
    <img class="newbgimg" src="/images/newbg.png" alt="" />
    <img class="newbgimg1" src="/images/newbg.png" alt="" />
  </div>

  <div class="row mt-5 bigdiv">
    <div class="col-8 offset-2">
      <h3 class="heading heading2 offset-1 form-label">Add Your Brand</h3>
      <form
        action="/listings"
        method="post"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3">
          <label for="Brand" class="form-label">Brand Name</label>
          <input
            type="text"
            name="listing[Brand]"
            placeholder="Enter your Brand Name..."
            class="form-control"
            required
          />
          <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="mb-3">
          <label for="Brief" class="form-label">Tell us about your Brand</label>
          <textarea
            name="listing[Brief]"
            class="form-control"
            placeholder="A short description of your Brand"
            required
          ></textarea>
          <div class="invalid-feedback">Please enter a short brief</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Brand Logo</label>
          <input
            type="text"
            name="listing[image]"
            placeholder="URL/Link of Brand Logo"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="video" class="form-label">Video Advertisment</label>
          <input
            type="text"
            name="listing[video]"
            placeholder="URL/Link of your Advertisment"
            class="form-control"
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="target" class="form-label">Target</label>
            <input
              type="text"
              name="listing[target]"
              placeholder="Global or Local"
              class="form-control"
              required
            />
            <div class="invalid-feedback">
              Enter valid target type for Customers
            </div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input
              type="text"
              name="listing[location]"
              placeholder="Where your brand is based?"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Location should be valid</div>
          </div>
          <div class="mb-3">
            <label for="tags" class="form-label">Hashtags</label>
            <textarea
              name="listing[tags]"
              class="form-control"
              placeholder="Hashtags"
              required
            ></textarea>
            <div class="invalid-feedback">Please enter hashtags</div>
          </div>
        </div>

        <br /><br />
        <button class="btn btn-dark add-btn">Add</button> <br />
      </form>
      <br /><br />
    </div>
  </div>
</body>
