<% layout("/layouts/boilerplate.ejs") %>
<div class="bigg">
<div><h1 class="heading6">What is MarGo?</h1>
    <p class="content1">Small vendors often struggle to reach a wider audience 
        and effectively promote</br> their products or services due to 
        limited resources and expertise in marketing.</br></br> Also, Many teenagers and social media influencers have a desire 
        to earn income</br> from their online presence but may lack the means to do so.</br><br>
        So, We solve both the problems with one solution, MarGo.</p>

</div>

<div><h1 class="heading6">What Makes Us Different? </h1>
    <p class="content1">
        <ul class="content2">
            <li>Affordable marketing solutions to reach a wider audience.</li>
            <li>Targeted campaign creation to increase sales and brand visibility.</li>
            <li>Opportunities for teens to monetize their online presence</li>
        </ul>
    </p>
        </div>