<% layout("/layouts/boilerplate.ejs") %>

<body background="/images/adbg.png">
  <div class="submitbox">
    <div><img class="icontick" src="/images/success.gif" alt="" /></div>
    <div class="success">Submitted Successfully !!</div>
    <div class="tickicon"></div>
    <div class="request">
      <p>Your request has been successfully sent to the moderator.</p>
    </div>
  </div>
  <form action="/listings">
    <button class="btn123">Check out other BRANDS...</button>
  </form>

    
</body>
