<% layout("/layouts/boilerplate.ejs") %>
<img src="/images/sol-modified.png" class="solbg" alt="" />
<div class="balbox"></div>
<div class="balbox2">
  <div class="heading2">Your Balance</div>
  <div class="balance"><%= balance %> SOL</div>
</div>

<form action="/listings">
  <button class="btn89">GO back</button>
</form>
